#main{
    font-size: 20px;
    border: solid red;
    border-radius: 4px;
    height: 500px
}
header, footer,#navigation, #sidebar, #ads{
    border: solid red;
    border-radius: 4px;
}
header{
    grid-area: header;
}
#sidebar{
    grid-area: sidebar;
}
#ads{
    grid-area: ads;
}
#main{
    grid-area: main;
}
#navigation{
    grid-area: navigation;
}
footer{
    grid-area: footer;
}
@media (min-width:770px) {
    section {
        gap: 10px;
        display: grid;
        grid-template-areas:
        "header header header"
        "sidebar navigation ads"
        "sidebar main ads"
        "footer footer footer"
    }
}
@media (max-width:480px) {
    section {
        gap: 2px;
        display: flex;
        flex-direction: column;  
    }
}
@media (min-width:481px)and (max-width:769px) {
    section {
        gap: 5px;
        display: grid;
        grid-template-areas:
        "header header"
        "navigation navigation"
        "sidebar main"
        "sidebar main"
        "ads footer";
    }
}