section {
    width: 1000px;
    height: 500px;
    margin: 3rem auto;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

div {
    margin: 50px;
    width: 150px;
    height: 80px;
    background-color: brown;
    margin-top: 10px;
}
